# DOCUMENTATION -------------------------------------------------------
# Docs folder ownership
/docs/ @nextflow-io/docs

# COMPILER ------------------------------------------------------------
# nf-compiler module
/modules/nf-compiler/ @nextflow-io/compiler
