.idea/**
.gradle/**
.nextflow.log*
.nxf-*.log*
.vagrant/*
.nextflow.history
build/**
lib/commons-cli-1.2.jar
subprojects/**/build/
subprojects/**/*.iml
out/**
piper/**
tmp/*
work/*
nextflow.eml
nextflow.iml
Vagrantfile
resources/*
test/*
tools/*
docs/_build/
dx-project/
*.txt
cache/
lib/commons-cli-1.2.jar
logo/nextflow2014_CS5.ai
logo/nextflow2014_no-bg.png
extrae_juan_files/**
misc/**