.idea/**
.gradle/**
.*.log*
.cache/*
.vagrant/*
.cache/*
.nextflow*
.node-nextflow*
build/**
modules/**/build/
modules/**/*.iml
modules/nextflow/work/
out/**
tmp/*
work/*
nextflow.eml
nextflow.iml
Vagrantfile
resources/*
test/*
tools/*
other
docs/_build/
./*.txt
cache/
errors/
misc/
cloud/my-*
docker-test
docker/dist
docker/nextflow
temp
gradle.properties
.dockerignore
.launch.classpath