process.executor = 'azurebatch'
process.machineType = "Standard_E*ds_v5"

fusion {
    enabled = false
}

azure {

    storage {
        accountName = 'seqeralabs'
    }

    batch {
        location = 'eastus'
        accountName = 'seqeralabs'
        copyToolInstallMode = 'node'
        autoPoolMode = true
        allowPoolCreation = true
        deletePoolsOnCompletion = false
        deleteTasksOnCompletion = false
    }

    activeDirectory {
        servicePrincipalId = System.getenv("AZURE_SERVICE_PRINCIPAL_ID")
        servicePrincipalSecret = System.getenv("AZURE_SERVICE_PRINCIPAL_SECRET")
        tenantId = System.getenv("AZURE_TENANT_ID")
    }
}
