profiles {

    test1 {
        process {
            memory = 20.MB
            queue = 'std'

            withLabel: small {
                memory = 10.MB
                queue = 'small'
            }

            withLabel: big {
                memory = 70.MB
                queue = 'big'
            }
        }
    }

    test2 {
        process {
            withLabel: small {
                memory = 10.MB
                queue = 'small'
            }

            withLabel: '!small' {
                memory = 70.MB
                queue = 'big'
            }
        }
    }

    test3 {
        includeConfig 'config-labels.included'
    }
}
