profiles {

    test1 {
        process {
            memory = 2.GB
            queue = 'std'

            withLabel: small {
                memory = 1.GB
                queue = 'small'
            }

            withLabel: big {
                memory = 7.GB
                queue = 'big'
            }
        }
    }

    test2 {
        process {
            withLabel: small {
                memory = 1.GB
                queue = 'small'
            }

            withLabel: '!small' {
                memory = 7.GB
                queue = 'big'
            }
        }
    }

    test3 {
        includeConfig 'config-labels.included'
    }
}
