
profiles {
  test {
    process {
      withName:'FOO' {
        ext {
          foo = 'foo'
        }
      }
      withName:'BAR' {
        ext {
          bar = 'bar'
        }
      }
      withName:'DOES_NOT_MATCH_ANYTHING' {
        ext {
          test = 'test'
        }
      }
    }
  }
}
