
// meta-pipeline config such as `manifest` replaces
// the main config of each included pipeline
manifest {
    name        = 'fetchngs-rnaseq'
    description = 'Fetch FASTQ files from SRA and analyze them with rnaseq'
}

// supply test input data by default
params {
    fetchngs.ids = "${projectDir}/data/ids.txt"
    rnaseq.fasta = "${projectDir}/data/genome.fa"
}

// meta-pipeline can include process config from included
// pipelines as long as it is isolated from the main config
includeConfig 'pipelines/nf-core/fetchngs/conf/modules.config'
includeConfig 'pipelines/nf-core/rnaseq/conf/modules.config'

// meta-pipeline can override process config from included
// pipelines using normal process selectors
process {
    withName: 'NFCORE_RNASEQ:STAR_ALIGN' {
        memory = 3.GB
    }
}
