// Processes of an included pipeline are scoped by the name it was
// included under, so they can be configured like any other process.
process {
    withName: 'NFCORE_FETCHNGS:SRATOOLS_FASTERQDUMP' {
        cpus   = 1
        memory = 1.GB
    }
    withName: 'NFCORE_RNASEQ:STAR_ALIGN' {
        cpus   = 2
        memory = 2.GB
    }
}

params {
    fetchngs.ids = "${projectDir}/data/ids.txt"
    rnaseq.fasta = "${projectDir}/data/genome.fa"
}
