manifest {
    name        = 'nf-core/rnaseq'
    description = 'RNA sequencing analysis pipeline'
}

// config params: params that are only used by the config
params {
    max_cpus   = 4
    max_memory = '8.GB'
}

process {
    resourceLimits = [
        cpus:   params.max_cpus,
        memory: params.max_memory
    ]
}

includeConfig 'conf/modules.config'
