/*
 * do not include plugin zure plugin requirement otherwise latest
 * publsihed version will be downloaded instead of uisng local build
 */

workDir = 's3://nextflow-ci/work'
process.executor = 'awsbatch'
process.queue = 'nextflow-ci'
process.container = 'quay.io/nextflow/rnaseq-nf:latest'
aws.region = 'eu-west-1'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.batch.maxTransferAttempts = 3 
aws.batch.delayBetweenAttempts = '5 sec'
