process.executor = 'awsbatch'
process.queue = 'circleci' 
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
workDir = 's3://cbcrg-eu/work'
aws.region = 'eu-west-1'

profiles {
  hello {
    process.container = 'debian'
  }

  rnatoy { 
    params.reads = "s3://cbcrg-eu/ggal/*_{1,2}.fq"
    params.annot = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.bed.gff"
    params.genome = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    process.container = 'nextflow/rnatoy@sha256:9ac0345b5851b2b20913cb4e6d469df77cf1232bafcadf8fd929535614a85c75'
  }

  rnaseq {
    params.reads = "s3://cbcrg-eu/ggal/*_{1,2}.fq" 
    params.transcriptome = "s3://cbcrg-eu/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa"
    params.multiqc = "s3://cbcrg-eu/ggal/multiqc" 
    process.container = 'nextflow/rnaseq-nf:latest'
  }

  callings {
    docker.enabled = true
    docker.runOptions = ""
    process.memory = 4.GB
    process.container = "885800555707.dkr.ecr.us-east-1.amazonaws.com/cbcrg/callings-with-gatk:latest"
    params.gatk = '/opt/broad/GenomeAnalysisTK.jar'
  }
}
