/*
 * do not include plugin requirements otherwise latest
 * published version will be downloaded instead of using local build
 */

workDir = 's3://nextflow-ci/work'
process.executor = 'awsbatch'
process.queue = 'nextflow-ci'
process.container = 'quay.io/nextflow/test-aws-unstage-fail:1.0'
aws.region = 'eu-west-1'
aws.batch.maxTransferAttempts = 3 
aws.batch.delayBetweenAttempts = '5 sec'
