/*
 * do not include plugin requirements otherwise latest
 * published version will be downloaded instead of using local build
 */

workDir = 's3://nextflow-ci/work'
process.executor = 'awsbatch'
process.queue = 'nextflow-fg'
process.container = 'quay.io/nextflow/rnaseq-nf:latest'
aws.region = 'eu-west-1'
aws.batch.platformType = 'fargate'
aws.batch.cliPath = 's5cmd --no-verify-ssl'
aws.batch.jobRole = 'arn:aws:iam::195996028523:role/nf-batchjobrole'
aws.batch.executionRole = 'arn:aws:iam::195996028523:role/nf-batchexecutionrole'
wave.enabled = true
wave.containerConfigUrl = 'https://nf-xpack.seqera.io/s5cmd/linux_amd64_2.0.0.json'
