/*
 * do not include plugin requirements otherwise latest
 * published version will be downloaded instead of using local build
 */

workDir = 's3://nextflow-ci-oss/work'
process.executor = 'awsbatch'
process.queue = 'nextflow-fg'
process.container = 'quay.io/nextflow/rnaseq-nf:latest'
aws.region = 'eu-west-1'
aws.batch.platformType = 'fargate'
aws.batch.jobRole = 'arn:aws:iam::807882257208:role/nf-batchjobrole'
aws.batch.executionRole = 'arn:aws:iam::807882257208:role/nf-batchexecutionrole'
wave.enabled = true
