plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
  container = 'quay.io/nextflow/rnaseq-nf:latest'
  queue = 'nextflow-ci'
}

workDir = 'az://my-data/work'

azure {
  storage {
    accountName = "nfbucket"
    accountKey = "$AZURE_STORAGE_ACCOUNT_KEY"
  }

  batch {
    location = 'westeurope'
    accountName = 'nfbatch1'
    accountKey = "$AZURE_BATCH_ACCOUNT_KEY"
    allowPoolCreation = true
    pools {
      'nextflow-ci' {
          autoScale = true
          vmType = 'Standard_A3'
      }
    }
  }
}

