plugins {
  id 'nf-azure'
}

process {
  executor = 'azurebatch'
  container = 'quay.io/nextflow/rnaseq-nf:latest'
}

workDir = 'az://my-data/work'

azure {
  storage {
    accountName = "nfbucket"
    accountKey = "$AZURE_STORAGE_ACCOUNT_KEY"
  }

  batch {
    location = 'westeurope'
    accountName = 'nfbatch1'
    accountKey = "$AZURE_BATCH_ACCOUNT_KEY"
    autoPoolMode = true
    deleteJobsOnCompletion = true
    deletePoolsOnCompletion = true
    pools {
      'auto' {
        vmType = 'Standard_A6'
      }
    }
  }
}

