/*
 * do not include plugin requirements otherwise latest
 * published version will be downloaded instead of using local build
 */

process {
  executor = 'azurebatch'
  container = 'quay.io/nextflow/rnaseq-nf:v1.1'
  queue = 'nextflow-ci'
}

workDir = 'az://my-data/work'

azure {
  batch {
    location = 'westeurope'
    allowPoolCreation = true
    pools {
      'nextflow-ci' {
          autoScale = true
      }
    }
  }
}

