/*
 * Copyright (c) 2013-2019, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 

params.transcriptome = 'gs://nf-demo/rnaseq/data/transcript.fa'
params.reads = 'gs://nf-demo/rnaseq/data/gut_{1,2}.fq'
params.multiqc = 'gs://nf-demo/rnaseq/multiqc'
docker.enabled = true

google.project = 'rare-lattice-222412'
google.region  = 'europe-west1'

process.executor = 'google-lifesciences'
process.container = 'nextflow/rnaseq-nf:latest'

workDir = 'gs://my-seq/work'