/*
 * do not include plugin zure plugin requirement otherwise latest
 * publsihed version will be downloaded instead of uisng local build
 */
 
params.transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
params.reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
params.multiqc = 'gs://rnaseq-nf/multiqc'
process.executor = 'google-lifesciences'
process.container = 'quay.io/nextflow/rnaseq-nf:latest'
workDir = 'gs://rnaseq-nf/scratch' 
google.region  = 'europe-west2'
