/*
 * do not include plugin requirements otherwise latest
 * published version will be downloaded instead of using local build
 */
 
params.transcriptome = 'gs://rnaseq-nf/data/ggal/transcript.fa'
params.reads = 'gs://rnaseq-nf/data/ggal/gut_{1,2}.fq'
params.multiqc = 'gs://rnaseq-nf/multiqc'
process.executor = 'google-batch'
process.container = 'quay.io/nextflow/rnaseq-nf:latest'
workDir = 'gs://rnaseq-nf/scratch'
