process {
  container = 'quay.io/nextflow/rnaseq-nf:v1.1'
}
 
params {
  reads = 's3://rnaseq-nf/data/ggal/lung_{1,2}.fq'
  transcriptome = 's3://rnaseq-nf/data/ggal/transcript.fa'
}

docker {
  enabled = true
  envWhitelist = 'AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY'
}

fusion {
  enabled = true
}

workDir = 's3://nextflow-ci/wave'

