alabaster==0.7.13
Babel==2.15.0
certifi==2024.7.4
charset-normalizer==3.3.2
docutils==0.20.1
idna==3.7
imagesize==1.4.1
importlib-metadata==8.0.0
jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.2
myst-parser==3.0.1
packaging==24.1
pygments==2.18.0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
snowballstemmer==2.2.0
sphinx==7.1.2
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.9.2
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxext-rediraffe==0.2.7
urllib3==2.2.2
zipp==3.19.2
