/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Degular font */
@font-face {
    font-family: "Degular";
    src: url('degular/Degular-Regular.woff2');
    src: url('degular/Degular-Regular.woff2') format('woff2'),
         url('degular/Degular-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Degular";
    src: url('degular/Degular-Italic.woff2');
    src: url('degular/Degular-Italic.woff2') format('woff2'),
         url('degular/Degular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Degular";
    src: url('degular/Degular-Bold.woff2');
    src: url('degular/Degular-Bold.woff2') format('woff2'),
         url('degular/Degular-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Degular";
    src: url('degular/Degular-BoldItalic.woff2');
    src: url('degular/Degular-BoldItalic.woff2') format('woff2'),
         url('degular/Degular-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

/* fonts */
body {
    font-family: 'Inter', sans-serif;
}

.btn {
    font-family: 'Inter', sans-serif;
}

.rst-content .toctree-wrapper>p.caption,
h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: 'Degular', sans-serif;
}

/* colors */
.rst-content .danger {
    background: #FEEDEC;
}

.rst-content .danger .admonition-title {
    background: #C3514D;
}

.rst-content .warning {
    background: #FDF0E9;
}

.rst-content .warning .admonition-title {
    background: #BC6437;
}

.rst-content .note {
    background: #E8F2FF;
}

.rst-content .note .admonition-title {
    background: #3787E5;
}

.rst-content .tip {
    background: #E2F7F3;
}

.rst-content .tip .admonition-title {
    background: #0CAE8E;
}

a, a:visited {
    color: #3787E5;
}

a:hover {
    color: #77B5FE;
}

.rst-content code,
.rst-content tt,
code {
    color: #C3514D;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #0DC09D;
}

.wy-menu-vertical a {
    color: #EAEBEB;
}

.wy-menu-vertical a:hover {
    background-color: #7B7B7B;
}

.wy-menu-vertical a:active {
    background-color: #0DC09D;
}

.wy-side-nav-search {
    background-color: #0DC09D;
}

.wy-side-nav-search input[type=text] {
    border-color: #0DC09D;
}

.wy-side-nav-search img {
    background-color: #0DC09D;
}

.wy-nav-side {
    background: #160F26;
}

.wy-nav-top {
    background: #0DC09D;
}

.wy-nav-top a {
    color: #fff;
}

.wy-nav-top img {
    width: auto;
    background-color: inherit;
    border-radius: unset;
}

footer {
    color: #7B7B7B;
}

#search-results .context {
    color: #7B7B7B;
}

.rst-content code.literal,
.rst-content tt.literal {
    color: #C3514D;
}

/* Custom footer with logo */
.nav-footer-logo {
    width: 300px;
    margin-top: 2rem;
    border-top: 1px solid #7B7B7B;
    text-align: center;
    font-size: 80%;
}

.nav-footer-logo a {
    display: block;
    padding: 2rem 0 0.5rem;
    color: #7B7B7B;
}

.nav-footer-logo a img {
    margin-top: 0.5rem;
    width: 60%;
}

/* Version change admonitions */
div.deprecated,
div.versionadded,
div.versionchanged {
    border-left: 0.2rem solid;
    border-radius: 0.25rem;
    box-shadow: 0 0.2rem 0.5rem var(--pst-color-shadow),0 0 0.0625rem var(--pst-color-shadow)!important;
    margin: 1rem auto;
    overflow: hidden;
    padding: 0.2rem 0.6rem;
    page-break-inside: avoid;
    position: relative;
    transition: color .25s,background-color .25s,border-color .25s;
    vertical-align: middle;
}
div.deprecated>p,
div.versionadded>p,
div.versionchanged>p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
div.deprecated>p:first-child::before,
div.versionadded>p:first-child::before,
div.versionchanged>p:first-child::before {
    font-family: FontAwesome;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: inherit;
    margin-right: 0.5rem;
    content: "";
    -webkit-font-smoothing: antialiased;
    padding: 0.4rem 0.6rem;
    margin: -0.2rem 0rem -0.2rem -0.6rem;
}
div.versionadded                         { border-color: #0CAE8E; background-color: #E2F7F3; }
div.versionadded p:first-child::before   { color: #0CAE8E; }
div.versionchanged                       { border-color: #BC6437; background-color: #FDF0E9; }
div.versionchanged p:first-child::before { color: #BC6437; }
div.deprecated                           { border-color: #C3514D; background-color: #FEEDEC; }
div.deprecated p:first-child::before     { color: #C3514D; }
