
/* navbar -- logo */

.wy-side-nav-search a:before {
    display: block;
    content: url(https://github.com/nextflow-io/trademark/raw/master/nextflow2014_black_white.png);
    visibility: visible;
    transform: scale(.43);
    transform-origin: left;
    margin: -30px 0 -50px 0;
}

.wy-side-nav-search a {
    visibility: hidden;
}

