name: Nextflow CI
# read more here
# https://help.github.com/en/articles/workflow-syntax-for-github-actions#on
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  build:
    name: Build Nextflow
    runs-on: ubuntu-latest
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        java_version: [8, 11, 17]

    steps:
    - name: Environment
      run: env | sort 

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        submodules: true

    - name: Setup env
      run: |
           rm -f $HOME/.gitconfig; 
           mkdir -p "$HOME/.nextflow";
           echo "providers.github.auth='$NXF_GITHUB_ACCESS_TOKEN'" > "$HOME/.nextflow/scm"

    - name: Setup Java ${{ matrix.java_version }}
      uses: actions/setup-java@v2
      with:
        java-version: ${{matrix.java_version}}
        distribution: 'adopt'
        architecture: x64
        cache: gradle

    - name: Compile
      run: make assemble

    - name: Tests
      run: make test
      env:
        GRADLE_OPTS: '-Dorg.gradle.daemon=false'
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        NXF_BITBUCKET_ACCESS_TOKEN: ${{ secrets.NXF_BITBUCKET_ACCESS_TOKEN }}
        NXF_GITHUB_ACCESS_TOKEN: ${{ secrets.NXF_GITHUB_ACCESS_TOKEN }}
        NXF_GITLAB_ACCESS_TOKEN: ${{ secrets.NXF_GITLAB_ACCESS_TOKEN }}
        NXF_AZURE_REPOS_TOKEN: ${{ secrets.NXF_AZURE_REPOS_TOKEN }}
        AZURE_STORAGE_ACCOUNT_NAME: nfazurestore
        AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
        AZURE_BATCH_ACCOUNT_NAME: nfbatchtest
        AZURE_BATCH_ACCOUNT_KEY: ${{ secrets.AZURE_BATCH_ACCOUNT_KEY }}

    - name: Integration
      if: "!contains(github.event.head_commit.message, '[ci fast]')"
      run: make install && ./integration-tests.sh
      env:
        TEST_JDK: ${{ matrix.java_version }}
        GRADLE_OPTS: '-Dorg.gradle.daemon=false'
        AWS_DEFAULT_REGION: eu-west-1
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        NXF_BITBUCKET_ACCESS_TOKEN: ${{ secrets.NXF_BITBUCKET_ACCESS_TOKEN }}
        NXF_GITHUB_ACCESS_TOKEN: ${{ secrets.NXF_GITHUB_ACCESS_TOKEN }}
        NXF_GITLAB_ACCESS_TOKEN: ${{ secrets.NXF_GITLAB_ACCESS_TOKEN }}
        NXF_AZURE_REPOS_TOKEN: ${{ secrets.NXF_AZURE_REPOS_TOKEN }}
        TOWER_ACCESS_TOKEN: ${{ secrets.TOWER_ACCESS_TOKEN }}
        GOOGLE_SECRET: ${{ secrets.GOOGLE_SECRET }}
        AZURE_STORAGE_ACCOUNT_NAME: nfazurestore
        AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
        AZURE_BATCH_ACCOUNT_NAME: nfbatchtest
        AZURE_BATCH_ACCOUNT_KEY: ${{ secrets.AZURE_BATCH_ACCOUNT_KEY }}

    - name: Setup Java 8
      if: "matrix.java_version != 8 && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/testing') && !contains(github.event.head_commit.message, '[ci fast]')"
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: 'adopt'
        architecture: x64
        cache: gradle

    - name: Integration vs Java 8
      if: "matrix.java_version != 8 && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/testing') && !contains(github.event.head_commit.message, '[ci fast]')"
      run: ./integration-tests.sh
      env:
        TEST_JDK: 8
        TEST_SMOKE: true
        GRADLE_OPTS: '-Dorg.gradle.daemon=false'
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        NXF_BITBUCKET_ACCESS_TOKEN: ${{ secrets.NXF_BITBUCKET_ACCESS_TOKEN }}
        NXF_GITHUB_ACCESS_TOKEN: ${{ secrets.NXF_GITHUB_ACCESS_TOKEN }}
        NXF_GITLAB_ACCESS_TOKEN: ${{ secrets.NXF_GITLAB_ACCESS_TOKEN }}
        NXF_AZURE_REPOS_TOKEN: ${{ secrets.NXF_AZURE_REPOS_TOKEN }}
        AZURE_STORAGE_ACCOUNT_NAME: nfazurestore
        AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
        AZURE_BATCH_ACCOUNT_NAME: nfbatchtest
        AZURE_BATCH_ACCOUNT_KEY: ${{ secrets.AZURE_BATCH_ACCOUNT_KEY }}

    - name: Tar integration tests
      if: failure()
      run: tar -cvf integration-tests.tar tests/checks

    - name: Publish tests report
      if: failure()
      uses: actions/upload-artifact@v2
      with:
        name: test-reports-jdk-${{ matrix.java_version }}
        path: |
          **/build/reports/tests/test
          integration-tests.tar
